exportClasses(
    TReNA,
    VarianceFilter,
    MotifMatcher,
    FootprintFilter,
    NullFilter,
    HumanDHSFilter,
    GeneOntologyFilter,
    RandomForestSolver)


export(
    TReNA,
    Solver,
    BayesSpikeSolver,
    EnsembleSolver,
    LassoPVSolver,
    LassoSolver,
    PearsonSolver,
    RandomForestSolver,
    RidgeSolver,
    SpearmanSolver,
    SqrtLassoSolver,
    NaiveSolver,
    CandidateFilter,
    MotifMatcher,
    FootprintFilter,
    HumanDHSFilter,
    NullFilter,
    VarianceFilter,
    GeneOntologyFilter,
    FootprintFinder,
    getTargetGene,
    getCandidateFilterSpec,
    getSolverSpec,
    getVariants,
    getGenome,
    getMinid,
    run
)

exportMethods(
    closeDatabaseConnections,
    getCandidates,
    getAssayData,
    getTarget,
    getRegulators,
    getFilterAssayData,
    getChromLoc,
    getFootprintsForGene,
    getFootprintsInRegion,
    getGenePromoterRegion,
    getGtfGeneBioTypes,
    getGtfMoleculeTypes,
    getPromoterRegionsAllGenes,
    getSolverName,
    getSolverObject,
    mapMotifsToTFsMergeIntoTable,
    rescalePredictorWeights,
    solve,
    getSequence,
    getEncodeRegulatoryTableNames,
    getRegulatoryRegions,
    geneSymbolToTSS,
    getPfms,
    findMatchesByChromosomalRegion
)

import(
    DBI,
    doParallel,
    flare,
    foreach,
    glmnet,
    lassopv,
    methods,
    randomForest,
    vbsr,
    GenomicRanges,
    BSgenome
)

importFrom(RSQLite, SQLite)
importFrom(RPostgreSQL, PostgreSQL)
importFrom(RMySQL, MySQL)
importFrom(utils, head)
importFrom(stringr, str_match)
