exportClasses(
    Trena,
    VarianceFilter,
    MotifMatcher,
    FootprintFilter,
    HumanDHSFilter,
    GeneOntologyFilter,
    RandomForestSolver
    )

export(
    Trena,
    Solver,
    BayesSpikeSolver,
    EnsembleSolver,
    LassoPVSolver,
    LassoSolver,
    PearsonSolver,
    RandomForestSolver,
    RidgeSolver,
    SpearmanSolver,
    SqrtLassoSolver,
    CandidateFilter,
    MotifMatcher,
    FootprintFilter,
    HumanDHSFilter,
    VarianceFilter,
    GeneOntologyFilter,
    FootprintFinder,
    run,
    show,
    parseChromLocString,
    parseDatabaseUri,
    getAvailableSolvers
)

exportMethods(
    closeDatabaseConnections,
    getCandidates,
    getAssayData,
    getTarget,
    getRegulators,
    getChromLoc,
    getFootprintsForGene,
    getFootprintsInRegion,
    getGenePromoterRegion,
    getGtfGeneBioTypes,
    getGtfMoleculeTypes,
    getPromoterRegionsAllGenes,
    rescalePredictorWeights,
    getSequence,
    getEncodeRegulatoryTableNames,
    getRegulatoryRegions,
    getPfms,
    findMatchesByChromosomalRegion,
    getProximalPromoter,
    getRegulatoryChromosomalRegions,
    getRegulatoryTableColumnNames,
    getGeneModelTableColumnNames,
    createGeneModel,
    getSolverNames
)

import(
    DBI,
    BiocParallel,
    glmnet,
    methods,
    randomForest,
    vbsr,
    GenomicRanges,
    BSgenome,
    flare,
    lassopv,
    MotifDb
)

importFrom(RSQLite, SQLite)
importFrom(RPostgreSQL, PostgreSQL)
importFrom(RMySQL, MySQL)
importFrom(utils, head)
importFrom(stringr, str_match)
importFrom(org.Hs.eg.db, org.Hs.eg.db)
importFrom(BSgenome.Hsapiens.UCSC.hg38,BSgenome.Hsapiens.UCSC.hg38)
importFrom(BSgenome.Hsapiens.UCSC.hg19,BSgenome.Hsapiens.UCSC.hg19)
importFrom(SNPlocs.Hsapiens.dbSNP150.GRCh38, SNPlocs.Hsapiens.dbSNP150.GRCh38)
importFrom(Biostrings, IUPAC_CODE_MAP)
importFrom(Biostrings, maxScore)
importFrom(Biostrings, matchPWM)
importFrom(Biostrings, reverseComplement)
importFrom(biomaRt, useMart)
importFrom(biomaRt, getBM)
importFrom(AnnotationDbi, select)
